* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  margin: 0;
  background-color: #eee;
}
h2 {
  text-align: center;
}


/*Header*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background: #51777c;
  color: white;
}

.menu {
  display: inline-flex;
  vertical-align: middle;
}
.menu a {
  color: white;
  padding: 7px 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
}
.menu a:hover {
  background-color: #456469;
}
.menu img {
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.profile-btn a {
    color: white;
    text-decoration: none;
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
    border-radius: 10px;
}
.profile-btn a:hover {
    background-color: #456469;
}

/*Footer*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  background: #51777c;
  font-size: 15px;
}
.footer a {
  margin: auto;
  margin-left: initial;
  margin-right: initial;
}
.footer .links{
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
  width: 20%;
}
.footer .links a {
  color: white;
  text-decoration: underline;
}
