* {
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
  }
  body {
    margin: 0;
    background-color: #eee;
  }


/*Map list*/
.sitemap {
    margin: 20px;
}

.video {
    text-align: center;
}
iframe {
    border-radius: 20px;
    overflow: hidden;
}

/*Footer*/
.footer {
    position: fixed
}
